.slideout.osim-tenon-issues:not(.so-mobile) {
    width: calc(30% - 8px);
}

.osim-tenon-preview {
    pointer-events: none;
    position: fixed;
    left: 8px;
    right: calc(30% + 8px);
    top: 8px;
    bottom: 8px;
    overflow: hidden;
}

.osim-tenon-frame {
    pointer-events: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 0.25rem solid black;
    border-radius: 0.25rem;
    box-sizing: content-box;
    opacity: 0;
    transition: opacity linear 250ms;

    &.osim-tenon-visible {
        opacity: 1;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.autosuggest-container-osim-tenon {
    .autosuggest__results-container {
        max-height: 200px;
        overflow: auto;
    }
}
